div.constraint-menu {
    right: 20px;
    bottom: 20px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow: hidden;
    gap: 8px;
}

div.constraint-menu:has(> input:checked) {
    grid-template-rows: 1fr 200px 1fr;
}

div.constraint-menu > * {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#run-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

#run-button-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#expand-state-constraint:checked ~ #run-button-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#expand-state-constraint:checked ~ #run-button-container > #run-button {
    width: 100%;
}

#run-button::before {
    content: "";
    background-image: url("@fortawesome/fontawesome-free/svgs/solid/play.svg");
    display: inline-block;
    filter: invert(var(--dark-mode));
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    vertical-align: text-top;
}

#constraint-menu-input {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: none;
}

#expand-state-constraint:checked ~ #constraint-menu-input {
    display: block;
}

#constraint-menu-list {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: none;
}

#expand-state-constraint:checked ~ #constraint-menu-list {
    display: block;
}

#constraint-menu-expand-label {
    padding-right: 2em;
    position: relative;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
}

#expand-state-constraint:checked ~ #constraint-menu-expand-label {
    grid-column-end: 3;
}

#constraint-menu-expand-label::after {
    content: "";
    background-image: url("@fortawesome/fontawesome-free/svgs/solid/chevron-up.svg");
    right: 0.5em;
    position: absolute;
    display: inline-block;

    /* only filter=invert(1) if dark mode is enabled aka --dark-mode is set to 1 */
    filter: invert(var(--dark-mode));

    width: 16px;
    height: 16px;
    background-size: 16px 16px;

    transition: transform 500ms ease;
    transform: scaleY(1);
}

#expand-state-constraint:checked ~ #constraint-menu-expand-label::after {
    transform: scaleY(-1);
}

.constrain-label input {
    background-color: var(--color-background);
    text-align: center;
    border: 1px solid var(--color-foreground);
    border-radius: 15px;
    padding: 3px;
    margin: 4px;
}

.constrain-label.selected input {
    border: 1px solid var(--color-foreground);
}

.constrain-label button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.constraint-add {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
