/* Overrides for sprotty command palette css (should be imported in commandPalette.ts before this .css file */

.command-palette {
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 350px;
}

.command-palette input {
    color: var(--color-foreground);
    background: var(--color-primary);
}

.command-palette-suggestions-holder {
    width: 100%;
}

.command-palette-suggestion {
    display: grid;
    grid-template-columns: 24px 1fr 24px 0px;
    background: var(--color-primary);
    overflow: visible;
    height: 20px;
    min-width: 100%;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}

.command-palette-suggestion:hover,
.command-palette-suggestion.selected {
    background: var(--color-background);
}

.command-palette-suggestion-children {
    position: relative;
    top: 0px;
    right: 0px;
    display: none;
    background: var(--color-primary);
    width: fit-content;
    height: fit-content;
    border-left: 4px solid var(--color-spacer);
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.command-palette-suggestion:hover > .command-palette-suggestion-children,
.command-palette-suggestion.expanded > .command-palette-suggestion-children {
    display: block;
}

.command-palette .fa-solid {
    text-align: center;
}
